</div>
<footer class="container-fluid">FOOTER HERE!!!</footer>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script> -->
<script type="text/javascript" src='/js/app.js'></script>
</body>
</html>

