<footer class="container-fluid footer"><span>Wes Marberry <a href="https://github.com/wesmarberry"><img class='footer-img' src="https://i.imgur.com/9eSNR5Q.png"></a> <a href="https://www.linkedin.com/in/wesley-marberry/"><img class='footer-img' src="https://i.imgur.com/Slv9bsw.png"></a></a>    | &copy petFinder |    Thiago Cavalcante <a href="https://github.com/thiagojc89"><img class='footer-img' src="https://i.imgur.com/9eSNR5Q.png"></a> <a href="https://www.linkedin.com/in/thiagojc89/"><img class='footer-img' src="https://i.imgur.com/Slv9bsw.png"></a></a></span></footer>
</div>
<script async defer
    src='https://maps.googleapis.com/maps/api/js?key=<%=API%>&callback=initMap'>

    </script>

    
<script type="text/javascript" src='/js/app.js'></script>
</body>
</html>

