<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
  
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

<!-- google-signin-client_id meta element. -->
  <meta name="google-signin-client_id" content="271919295013-phr6n1c5ljcedojcgj6deh1e2u1epagc.apps.googleusercontent.com">
  
  <!--Load the Google Platform Library -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
		<div class="background">
	
		<nav class="nav">
		  
		  <div class="login-header">
			  <h1 class='page-header'>petFinder</h1>
			  <li><a href="/users">Home</a></li>
			  <li><a href="/users/goToStory">About</a></li>

			  <img src="http://pngimg.com/uploads/dog/dog_PNG136.png">
			  <img src="http://pngimg.com/uploads/dog/dog_png2399.png">
			  <img src="http://pngimg.com/uploads/dog/dog_PNG182.png">
			  
			  
			  
			  <%if (logged === undefined) {%>	
				  <form class='header-login-panel' action="/users/new" method="POST">
				    <input type="text" name="username" placeholder="username">
				    <a href="/users/new">Register</a><br>
				    <input type="password" name="password" placeholder="password">
				    <button class='cool-button' id='login-button' type="submit">Login</button>
				  </form>
			  <%} else {%>

			  	  <a href="/users/<%=id%>/edit"><%=username%></a>
		          <a href="/users/logout">Log Out</a>
			  <%}%>	
		  </div>
		</nav>
