<%- include ../partials/header.ejs %>

<div class='new-pet-container'>
	<div class='new-inner-container'>
		<h2 class="schedule-header">Add Your Pet</h2>


		<form action="/pets" method="POST" enctype="multipart/form-data">
			<ul class="creatPetForm">
				<input type="hidden" name="owner" value="<%=user%>"></input>
				<li>Name:  	 <input class='new-input' type="text" name="name"    placeholder="e.g. Jax"></input></li>
				<li>Kind: <input class='new-input' type="text" name="petKind" placeholder="e.g. Dog"></input></li>
				<li>Breed: 	 <input class='new-input' type="text" name="breed" placeholder="e.g. Border Collie"></input></li>
				<li>Age:	 <input class='new-input' type="text" name="age"   placeholder="e.g. 5 months"></input></li>

				<li>Photo:	<input class='new-input' type="file" name="photo"></input></li>

			</ul>
			<button class="cool-propose-button" id='add-pet-button'>Add Your Pet</button>
		</form>
	</div>
</div>
<%- include ../partials/footer.ejs %>




