body{
	
	/*background-color: rgb(171, 154, 186);*/
	padding: 10;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: black;
}
nav{
	margin-top:10px;
	padding:0; 
	border-radius: 10px;
	color: white;
}
.login-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.creatPetForm{
	display: flex;
	flex-direction: column;
}
.indexDogPanel{
	display: flex;
	flex-flow: row wrap;	
}
img {
  display: block;
  max-width: 100px;
  height: 100px;
}
.dogInfo{
	display: flex;
	flex-direction: column;
	border: 5px solid black;
	padding: 5px;
	margin: 5px;
}
a{
	 text-decoration: none;
	 color: white;
}
footer{
	background-color: rgb(155, 117, 175);
	height: 100px;
	margin: 10px;
	border-radius: 10px;
}