<%- include ../partials/header.ejs %>

<div class="about-container">
	<div class="about-panel">
	<h3 class="schedule-header">About PetFinder</h3>
	<p>
		Do you ever miss your family pet? Do you ever just want to play with a dog?  Are you ever looking for a free dog walker? If you answered yes to any of these questions, petFinder is for you.<br>
		<br>
		petFinder was developed to address the inate human need to be around pets, set up pet interaction, and has become a social platorm for pet owners and pet lovers alike!<br>
		<br>
		With petFinder a user can schedule time with local pets, schedule meet ups with other local pet owners, and write reviews of all of your pet interactions!<br>
		<br>
		At petFinder we are committed to fulfilling everybody's pet needs while addressing the problems that arise of having a pet such as walking and exercise!

	</p>
</div>

</div>




<%- include ../partials/footer.ejs %>