<%- include ../partials/header.ejs %>



  

  <h1>Login</h1>
  <form action="/users/new" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Login</button>
  </form>

  <small><%=message%></small>

  <h1>Register</h1>
  <form action="/users/register" method="POST" enctype="multipart/form-data">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <input type="text" name="name" placeholder="name">
      <input type="email" name="email" placeholder="email">
      <input type="text" name="phone" placeholder="phone">
      <input type="text" name="zipcode" placeholder="zipcode">
      <input type="file" name="photo">
      <input id='lat' type="hidden" name="lat">
      <input id='lng' type="hidden" name="lng">
      <button type="submit">Register</button><br>
      <strong class='note'>NOTE: Your location where you register will be the location shown for all of your pets!!!</strong><br>
      <strong><%= typeof msg != 'undefined' ? msg : ''%></strong>
      
      <br>
      <p>or:</p><br>
              <!-- this is the google button -->
        <!-- <div id="my-signin2"></div> -->
        <div>
          
          <a id='google-button' href="/auth/googleurl">Log In With Google</a>
          
        </div>
        
  </form>
        

  <script type="text/javascript">
    navigator.geolocation.getCurrentPosition((data) => {
      const latLong = data
      $('#lat').val(latLong.coords.latitude)
      $('#lng').val(latLong.coords.longitude)
      // console.log(latLong.coords.latitude);
      return latLong

    })

  </script>
  
<%- include ../partials/footer.ejs %>