<%- include ../partials/header.ejs %>

  <h1>Login</h1>
  <form action="/users/new" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Login</button>
  </form>

  <small><%=message%></small>

  <h1>Register</h1>
  <form action="/users/register" method="POST" enctype="multipart/form-data">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <input type="text" name="name" placeholder="name">
      <input type="email" name="email" placeholder="email">
      <input type="text" name="phone" placeholder="phone">
      <input type="text" name="zipcode" placeholder="zipcode">
      <input type="file" name="photo">
      <button type="submit">Register</button><br>
      <strong><%= typeof msg != 'undefined' ? msg : ''%></strong>
      <br>
      <p>or:</p><br>
              <!-- this is the google button -->
        <div id="my-signin2"></div>
  </form>

<%- include ../partials/footer.ejs %>