<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <h1>Login</h1>
  <form action="/users/new" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Login</button>
  </form>

  <small><%=message%></small>

  <h1>Register</h1>
  <form action="/users/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="text" name="name" placeholder="name">
    <input type="email" name="email" placeholder="email">
    <input type="text" name="phone" placeholder="phone">
    <input type="text" name="zipcode" placeholder="zipcode">
    <input type="text" name="photo" placeholder="photo">
    <button type="submit">Register</button>
  </form>

</body>
</html>